[submodule "imgui"]
	path = imgui
	url = git@github.com:nadult/imgui.git
[submodule "libfwk"]
	path = libfwk
	url = git@github.com:nadult/libfwk.git
[submodule "keeperrl"]
	path = keeperrl
	url = https://github.com/miki151/keeperrl.git
